// out: ./css/style.css, sourcemap: true, compress: true

.randomColor() {
  @randomColor: `(Math.random()*0xFFFFFF<<0).toString(16)`;
  @colorHex: e(@randomColor);
  @color: ~"#@{colorHex}";
}

body {
  font-family: 'VT323', monospace;
}
.top {
    border-bottom: double 3px lightgrey;
    // box-shadow: 1px 1px;
}

.title {
  margin-top:8em;
  @media (max-width: 768px) {
    margin-top: 2em;
  }
  h1 {
    color:papayawhip;
    text-align: center;
    font-size:7em;
    @media (max-width: 768px) {
      font-size: 5em;
    }
    font-family: 'VT323', monospace;
  }
  p {
    font-size:3em;
    @media (max-width: 768px) {
      font-size: 2em;
    }
    color:grey;
    text-align:center;
    font-family: 'VT323', monospace;
  }
}

body {
  background-image: url("../space.jpg");
  /*background-color:red !important;*/
  color:white;

}

.bottom, .top {

}

.top {
  text-align:center;
}
.links-label {
  font-style:italic;
  font-weight:bold;
  color:orange;
  font-size:3em;
  @media (max-width: 768px) {
    font-size: 1.5em;
  }
  margin-bottom: 1em;
}
.links {
  margin-bottom:3em;
  @media (max-width: 768px) {
    margin: 0 2em;
  }
  .btn {
    padding:1em 2em;
    background-color:lightgrey;
    margin: 0.5em auto;
    display:block;
    min-width:150px;
    border-radius: 0;
    box-shadow: #666 -5px 3px;
    font-size: 1.5em;
    color: yellow;
    &:hover {
      background-color: blue;
      //background-color: randomColor();
    }
  }
}

.footer {
  margin: 2em 0;
  .ninetys-links {
    display:inline-block;
    img {
      display:inline-block;
    }
  }
}
